<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>control.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupControl</servlet-name>
        <servlet-class>control.SignupControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryControl</servlet-name>
        <servlet-class>control.AddCategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductControl</servlet-name>
        <servlet-class>control.AddProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagement</servlet-name>
        <servlet-class>control.AccountManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAccountControl</servlet-name>
        <servlet-class>control.ShowAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountControl</servlet-name>
        <servlet-class>control.UpdateAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCategoryControl</servlet-name>
        <servlet-class>control.ShowCategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagement</servlet-name>
        <servlet-class>control.CategoryManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsControl</servlet-name>
        <servlet-class>control.ShowProductsControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagement</servlet-name>
        <servlet-class>control.ProductManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>control.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>control.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>control.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>control.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>control.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>control.UpdateCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardControl</servlet-name>
        <servlet-class>control.DashboardControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardControl</servlet-name>
        <url-pattern>/DashboardControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryBarControl</servlet-name>
        <servlet-class>control.CategoryBarControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryBarControl</servlet-name>
        <url-pattern>/CategoryBarControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupControl</servlet-name>
        <url-pattern>/SignupControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryControl</servlet-name>
        <url-pattern>/AddCategoryControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductControl</servlet-name>
        <url-pattern>/AddProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagement</servlet-name>
        <url-pattern>/AccountManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAccountControl</servlet-name>
        <url-pattern>/ShowAccountControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountControl</servlet-name>
        <url-pattern>/UpdateAccountControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCategoryControl</servlet-name>
        <url-pattern>/ShowCategoryControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagement</servlet-name>
        <url-pattern>/CategoryManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsControl</servlet-name>
        <url-pattern>/ShowProductsControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagement</servlet-name>
        <url-pattern>/ProductManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/LogoutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/SearchControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/DetailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/CartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/DeleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/UpdateCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
